body{
    background-color: rgb(34, 23, 66);
    color: rgba(250, 250, 250, .8);
    
}
#container {
    min-width: 350px;
    width: 30%;
    margin: 0px auto;
}

h1 {
    font-size: 1.5em;
    background-color: #392264;
    padding: 2%;
    text-align: center;
}

.tab-list {
    margin: 0px;
    padding: 0px;
}
.tab-list li {
    display: inline-block;
    padding: 2%;
    background-color: #392264;  
    margin: 0px;
    
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
    background-color: #392264;
}
.tab-panel ul {
    padding: 1%;
    margin: 0px;
}
.tab-panel li {
    background-color: #6441a5;
    list-style: none;
    padding: 4%;
    margin: 2%;   
}
.tab-panel li img {
    width: 10%;
}
li h3 {
    float: right;
}
li h2 {
    vertical-align: top;
}
.tab-panel li h3, .tab-panel li h2 {
    display: inline-block;
    margin: 2%;
}

body ul li  a {
    text-decoration: none;
    color: rgba(250, 250, 250, .8);
}

.offline {
    opacity: .5;
}

a:focus {
    color: white;
}